---
import BackHome from '../components/BackHome.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Favorites">
  <BackHome />
  <main class="h-screen flex items-center justify-center">
    <h1 class="text-5xl">Favorites</h1>
  </main>
</Layout>
