---
import DatePicker from '../components/DatePicker'
import FavoriteToggle from '../components/FavoriteToggle'
import NavButton from '../components/NavButton'
import SelectedDate from '../components/SelectedDate'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tong pic">
  <div class="h-screen flex flex-col items-center justify-center gap-4">
    <SelectedDate client:load />
    <nav class="flex gap-8 text-lg">
      <NavButton
        href="/"
        isDisabled={false}
        title=""
        :client:load
      >
        <div class="i-octicon:chevron-left-16" />
      </NavButton>
      <DatePicker client:load />
      <NavButton
        href="/"
        isDisabled={false}
        title=""
        :client:load
      >
        <div class="i-octicon:chevron-right-16" />
      </NavButton>
    </nav>
    <footer class="flex items-center gap-12 text-2xl">
      <a
        href="https://github.com/ntnyq"
        target="_blank"
        rel="noopener noreferrer"
        title="Link for GitHub"
        class="rounded-md p-2 hover:bg-gray-700 hover:text-white"
      >
        <div class="i-octicon:mark-github-16"></div>
      </a>
      <a
        href="https://twitter.com/ntnyq"
        target="_blank"
        rel="noopener noreferrer"
        title="Link for Twitter"
        class="rounded-md p-2 hover:bg-[#00ACEE] hover:text-white"
      >
        <div class="i-simple-icons-twitter"></div>
      </a>
      <a
        href="/random"
        title="Random (Shortcut: R)"
        class="rounded-md p-2 hover:bg-[#000100] hover:text-white"
      >
        <div class="i-bi:dice-3"></div>
      </a>
      <a
        href="/favorites"
        title="Favorites"
        class="rounded-md p-2 hover:bg-[#fb7299] hover:text-white"
      >
        <div class="i-octicon:star-16"></div>
      </a>
      <FavoriteToggle client:load />
    </footer>
  </div>
</Layout>
