---
import Layout from '../layouts/Layout.astro';
import BackHome from '../components/BackHome.astro'
---

<Layout title="Random">
  <BackHome />
  <main class="flex h-screen justify-center items-center">
    <h1 class="text-5xl">Random</h1>
  </main>
</Layout>
